table{
    border: black 1px solid;
    width: 100%;
    margin-bottom: 1rem;
}
 th {
    border: black 1px solid;
  }

 form{
    margin-bottom: 1rem;
 } 
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}